@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Kanit", sans-serif; 
    font-style: normal;
}
.form-label strong{
    color: red;
}
.sidebar-item  ul{
    display: none;
}
.sidebar-item.active  ul{
    display: block;
    list-style: none;
    padding-left: 0px;
} 
.sidebar-item.active ul a{
    color: #fff;  
    line-height: 40px;
    padding: 5px 35px 5px 65px;
    width: 100%;
    display: block;
}
.sidebar-item.active  ul li:hover{ 
    background-color: rgba(255, 255, 255, .1);
}
.sidebar-item.active  ul li.active{ 
    background-color: rgba(255, 255, 255, .1);
}